.block_ {
    background-color: #FFF;
    color: #455A64;
    display: block;
    font-family: "filson_softlight", serif;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-transform: uppercase
    }
.block_1 {
    background-color: #FFF;
    color: #000;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7.5pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    background-color: #FFF;
    display: block;
    font-weight: bold;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_3 {
    background-color: #FFF;
    display: block;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_4 {
    background-color: #FFF;
    display: list-item;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_5 {
    background-color: #FFF;
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_6 {
    background-color: #FFF;
    display: block;
    font-weight: bold;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-transform: uppercase
    }
.block_7 {
    background-color: #FFF;
    color: #455A64;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-transform: uppercase
    }
.block_8 {
    background-color: #FFF;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_9 {
    background-color: #FFF;
    color: #455A64;
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-transform: uppercase
    }
.block_10 {
    background-color: #FFF;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_11 {
    display: block;
    font-family: "Times New Roman", serif;
    font-size: 1em;
    margin-bottom: 15pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_12 {
    background-color: #FFF;
    display: list-item;
    margin-left: 24.8pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_13 {
    background-color: #FFF;
    display: list-item;
    margin-left: 36pt;
    padding-top: 0
    }
.calibre {
    color: #001627;
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.calibre1 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre2 {
    line-height: 1.2;
    white-space: pre-wrap
    }
.calibre3 {
    border-bottom-color: currentColor;
    border-bottom-style: inset;
    border-bottom-width: 1px;
    border-left-color: currentColor;
    border-left-style: inset;
    border-left-width: 1px;
    border-right-color: currentColor;
    border-right-style: inset;
    border-right-width: 1px;
    border-top-color: currentColor;
    border-top-style: inset;
    border-top-width: 1px;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em
    }
.calibre4 {
    display: block
    }
.calibre5 {
    text-decoration: none
    }
.list_ {
    display: block;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.list_1 {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    color: #001627
    }
.text_1 {
    color: #00F;
    text-decoration: underline solid
    }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
