@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }

.block_ {
    background-color: #FFF;
    color: #455A64;
    display: block;
    font-family: "filson_softlight", serif;
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 15pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-transform: uppercase
    }
.block_1 {
    background-color: #FFF;
    display: block;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_2 {
    background-color: #FFF;
    display: block;
    font-weight: bold;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_3 {
    background-color: #FFF;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_4 {
    background-color: #FFF;
    color: #000;
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 7.5pt;
    margin-left: 0;
    margin-right: 0;
    margin-top: 7.5pt;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_5 {
    background-color: #FFF;
    display: list-item;
    margin-left: 36pt;
    padding-bottom: 0;
    padding-top: 0
    }
.block_6 {
    background-color: #FFF;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0
    }
.block_7 {
    display: block;
    font-family: serif;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    text-align: center
    }
.calibre {
    color: #001627;
    display: block;
    font-family: "Lato", sans-serif;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0
    }
.list_ {
    display: block;
    list-style-type: disc;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0
    }
.text_ {
    color: #001627;
    font-family: "Lato", sans-serif;
    font-size: 1.33333em
    }
.text_1 {
    color: #3F51B5;
    font-family: "Lato", sans-serif;
    font-size: 1.33333em;
    font-weight: bold
    }
.text_2 {
    color: #001627;
    font-family: "Lato", sans-serif;
    font-size: 1.33333em;
    font-weight: bold
    }
.text_3 {
    font-family: "Calibri", sans-serif;
    font-size: 1em
    }
