.login-main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  //background-image: url('/images/login-bg.jpg');
  position: relative;
  background-position: center;
  background-repeat: no-repeat;

  button {
    background-color: rgb(37, 44, 65) !important;
    outline: none;
    border: none !important;

    &:focus {
      box-shadow: unset !important;
      border: none !important;
    }
  }

  &:after {
    content: '';
    background-color: rgba(37, 44, 65, 0.8);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .jumbotron {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    background-color: white;
    border-radius: 0;
    padding: 0;
    width: 100%;
    max-width: 450px;
    z-index: 11;
    box-shadow: 0 0 10px #000;

    .title {
      font-size: 18px;
      color: rgb(37, 44, 65);
      font-weight: 600;
      padding: 20px 15px;
      background: rgba(0, 0, 0, 0.03);
    }

    form {
      margin-top: 20px;
      padding: 0 20px;

      .form-control {
        width: 100%;
        height: 40px;
        font-size: 16px;
        border-radius: 0;
      }

      .input-group {
        .country-code {
          width: 40px;
          border: solid 1px #ddd;
          border-right: none;
          text-align: center;
          line-height: 38px;
          background: rgba(0, 0, 0, 0.03);
        }

        .form-control {
          width: calc(100% - 50px);
        }
      }

      button.btn.eye-btn {
        position: absolute;
        top: 31px;
        right: 0;
        height: 39px !important;
        display: inline-block;
      }
    }

    .alret-msg {
      padding: 0 20px;
    }
  }
}
